{% extends 'base.html' %}

{% block content %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим {{ data.departures[direction] }}</h1>
    {% set mint=data.tours.values()|selectattr('departure', 'equalto',direction)|min(attribute='price') %}
    {% set maxt=data.tours.values()|selectattr('departure', 'equalto',direction)|max(attribute='price') %}
    {% set minnights=data.tours.values()|selectattr('departure', 'equalto',direction)|min(attribute='nights') %}
    {% set maxnights=data.tours.values()|selectattr('departure', 'equalto',direction)|max(attribute='nights') %}

    <p class="mb-4">Найдено {{ data.tours|length }} туров, от {{ mint.price }} до {{ maxt.price }} и от {{ minnights.nights }} ночей до {{ maxnights.nights }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for key, t in data.tours.items() %}
      {% if t.departure == direction %}
      <div class="col-4">
        <div class="card mb-4">
          <a href="/tours/{{ key }}">
          <img src="{{ t.picture }}" width="300px" height="200px" class="card-img-top img-fluid" alt="">
          </a>
          <div class="card-body">
            <h2 class="h5 card-title">{{ t.title }}</h2>
            <p class="card-text">{{ t.description }}</p>
            <a href="/tours/{{ key }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </main>
{% endblock %}