{% extends 'base.html' %}

{% block content %}
  <main class="container mt-3">
    <!-- HERO -->
    <section class="jumbotron text-center mt-4">
      <h1 class="display-4">Всякие туры</h1>
      <p class="lead">{{ data.subtitle }}</p>
      <p class="mt-5 w-50 mx-auto">{{ data.description }}</p>
    </section>
    <!-- CARDS -->
    <div class="row mt-5">

      {% for t in tourslist %}

      <div class="col-4">
        <div class="card mb-4">
          <a href="/tours/{{t}}" >
          <img src="{{ data.tours[t].picture }}" width="300px" height="200px" class="card-img-top img-fluid" alt="">
          </a>
          <div class="card-body">
            <h2 class="h5 card-title">{{ data.tours[t].title }}</h2>
            <p class="card-text">{{ data.tours[t].description }}</p>
            <a href="/tours/{{t}}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </main>
{% endblock %}